###############################################################################
# {{ ansible_managed }}
#
#  Shorewall Version 4 -- /etc/shorewall/shorewall.conf
#
#  For information about the settings in this file, type "man shorewall.conf"
#
#  Manpage also online at http://www.shorewall.net/manpages/shorewall.conf.html
###############################################################################

{% for key,value in shorewall_conf.items()|sort %}
{{ key|upper }}={{ value }}
{% endfor %}
