###############################################################################
# {{ ansible_managed }}
#
#  Shorewall Version 4 -- /etc/shorewall6/shorewall6.conf
#
#  For information about the settings in this file, type "man shorewall6.conf"
#
#  Manpage also online at
#  http://www.shorewall.net/manpages6/shorewall6.conf.html
###############################################################################

{% for key,value in shorewall6_conf.items()|sort %}
{{ key|upper }}={{ value }}
{% endfor %}
